.button {
  width: 100%;
  height: 50px;
  color: rgba(255, 255, 255, 0.85);
  background-color: #333645;
  font-size: 13px;
  font-family: roboto, sans-serif;
  display: inline-grid;
  outline: none;
  text-align: left;
}

.a {
  width: 100%;
  height: 50px;
  color : rgba(255, 255, 255, 0.85);
  background-color: #333645;
  font-size: 13px;
  font-family: roboto, sans-serif;
  display: inline-grid;
  outline: none;
  text-align: left;
  padding-left: 15px;
}

.button:hover {
  background-color: rgba(209, 215, 226, 0.575);
  color: rgb(130, 118, 114);
}

#openFolder {
  background-color: rgb(244, 131, 66);
  width: 100%;
  font-size: 1.25rem;
  height: 50px;
  color: white;
  font-family: roboto, sans-serif;
  outline: none;
}
