.button {
  display: inline-grid;

  width: 100%;
  height: 50px;
  padding: 10px 0 10px 40px;
  padding-top: 10%;
  padding-bottom: 1%;
  padding-left: 15%;

  cursor: pointer;
  transition: .5s;
  text-align: left;

  color: rgba(255, 255, 255, 0.76);
  border: 0;
  outline: none;
  background-color: #333645;

  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 200;
}

.button:hover {
  background-color: #1a1c24;
}

#openFolder {
  width: 100%;
  height: 50px;

  transition: .5s;

  color: white;
  border-style: none;
  outline: none;
  background-color: rgb(244, 131, 66);

  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
}

#openFolder:hover {
  cursor: pointer;
  transition: .5s;

  background-color: rgb(242, 180, 113);
}
