.button {
  width: 100%;
  height: 50px;
  color: rgba(255, 255, 255, 0.76);
  background-color: #333645;
  font-size: 13px;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
  display: inline-grid;
  outline: none;
  text-align: left;
  padding-left: 15%;
  border-style: none;
  padding-top: 10%;
  padding-bottom: 1%;
  padding: 10px 0 10px 40px;
}

.button:hover {
  background-color: #1a1c24;
  transition: .5s;
  cursor: pointer;
}

#openFolder {
  background-color: rgb(244, 131, 66);
  width: 100%;
  font-size: 1.25rem;
  height: 50px;
  color: white;
  font-family: 'Roboto', sans-serif;
  outline: none;
}
