.containers {
  width: 250px;
  height: 180px;
  background-color: #0876B4;
  border-radius: 5px;
  float: right;
  margin: 5px;
  /* margin-top: 12%; */
  /* margin-bottom: -10%; */
  margin-right: 15px;
  display: block;
  -webkit-box-shadow: 7px 7px 24px -4px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 7px 7px 24px -4px rgba(0, 0, 0, 0.69);
  box-shadow: 7px 7px 24px -4px rgba(0, 0, 0, 0.69);
  transition: .5s;
}

.containers:hover {
  background-color: rgb(107, 135, 206);
  transition: .5s;
}

#title {
  font-family: 'Roboto', sans-serif;
  display: inline;
  text-align: center;
  position: fixed;
  margin-left: 50%;
  margin-top: 6%;
  font-weight: 300;
}

#componentView {
  background-color: white;
  float: right;
  margin-top: 150px;
  margin-left: 15%;
  height: 86%;
  width: 85%;
  display: block;
  /* top: 0; */
  overflow: scroll;
  /* background-color: red; */
  /* box-sizing: border-box; */
  position: fixed;
}

.containerText {
  color: white;
  font-size: 1rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  position: relative;
  float: left;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#headline {
  display: block;
  position: fixed;
}

#filePathDisplay {
  font-family: 'Roboto', sans-serif;
  display: block;
  font-size: .8rem;
  /* width: 100%; */
  margin-left: 16%;
  position: fixed;
  margin-top: 60px;
  /* background-color: blue; */
}

.directoryItem {
  font-size: 1.25rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  padding: 10px;
  transition: .5s;
  cursor: pointer;
  /* margin-top: 10%; */
  /* margin-bottom: -10%; */
}

.directoryItem:hover {
  background-color: rgb(89, 123, 168);
  color: white;
}
