.containers {
  display: block;
  float: right;

  width: 250px;
  height: 180px;
  margin: 5px;
  margin-right: 15px;

  transition: .5s;

  border-radius: 5px;
  background-color: #0876B4;
  box-shadow: 7px 7px 24px -4px rgba(0, 0, 0, 0.69);
}

.containers:hover {
  transition: .5s;

  background-color: rgb(107, 135, 206);
}

.composeBox {
  height: 192px;
  display: block;
  background-image: linear-gradient(45deg, #FFFFFF 25%, #e7f5fe 25%, #e7f5fe 50%, #FFFFFF 50%, #FFFFFF 75%, #e7f5fe 75%, #e7f5fe 100%);
background-size: 60.00px 60.00px;
}

.contLabel {
  margin-left: 10px;
  color: darkgray;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

#title {
  position: fixed;

  display: block;

  margin-top: 100px;
  margin-left: 50%;

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#componentView {
  position: fixed;

  display: block;
  float: right;
  overflow: scroll;

  width: 85%;
  height: 86%;
  margin-top: 150px;
  margin-left: 15%;

  background-color: white;
}

.containerText {
  position: relative;
  top: 40%;
  left: 50%;

  float: left;

  transform: translate(-50%, -50%);
  text-align: center;

  color: white;

  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

#headline {
  position: relative;

  display: block;
}

#filePathDisplay {
  position: fixed;

  display: block;

  margin-top: 60px;
  margin-left: 16%;

  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
}

.directoryItem {
  padding: 10px;

  cursor: pointer;
  transition: .5s;

  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  font-weight: 200;
}

.directoryItem:hover {
  color: white;
  background-color: rgb(89, 123, 168);
}
