.containers {
  width: 250px;
  height: 180px;
  background-color: #0876B4;
  float: right;
  margin: 5px;
  margin-top: 2.5%;
  display: block;
}

.containers:hover {
  background-color: #B4C5E4;
}

#title {
  font-family: roboto,
  sans-serif;
  ;
  display: block;
  margin-left: 35%;
  /* width: 100%; */
}

#componentView {
  background-color: white;
  float: right;
  height: 100%;
  width: 85%;
  display: block;
  top: 0;
}

.containerText {
  color: white;
  font-size: 1rem;
  text-align: center;
  font-family: roboto, sans-serif;
  position: relative;
  float: left;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#headline {
  display: block;
}

#filePathDisplay {
  font-family: roboto,sans-serif;
  display: block;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 10px;
}
