#controlsBar {
  border: 1px solid black;
  width: 20%;
  height: 100%;
  position: fixed;
  background-color: #333645;
}

#filePathInput {
  width: 100%;
  border-style: 1px solid black;
  text-align: center;
  font-size: 1rem;
  outline: none;
}

#submit {
  width: 100%;
  text-align: center;
  padding: 30px;
  background-color: #090C9B;
  color: white;
  font-size: 1.25rem;
  outline: none;
}

#business {
  display: none;
}
