#header {
  position: fixed;

  display:block;
  float: right;

  width: 100%;
  height: 50px;

  box-shadow: 0px 1px 5px 0px rgba(214,206,214,1);
}

#clearHistory {
  position: fixed;

  float: right;

  margin-top: 12px;
  margin-left: 90%;
  padding: 5px;

  cursor: pointer;
  transition: .5s;

  color: white;
  border: 0;
  border-radius: 5px;
  outline: none;
  background-color: rgb(52, 175, 216);

  font-family: "Roboto", sans-serif;
  font-size: .85rem;
  font-weight: 300;
}

#clearHistory:hover {
  background-color: rgb(216, 32, 57);
}
